.header {
  display: flex;
  align-items: center;
  background: white;

  &__title {
    font-size: 24px;
    color: #333;
    margin: 0;
  }

  &__left,
  &__right {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-left: auto;
  }

  &__user {
    font-weight: 500;
    color: #333;
  }

  &__btn {
    padding: 10px;
    background: #F4F4F4;
    color: #2F3144A6;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.2s;

    &:hover {
      background: #f5f5f5;
    }
  }

  &__btn__primary {
    background: #3761F3;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.2s;

    &:hover {
      background: #5676ed;
    }
  }
}