.sidebar {
    width: 240px;
    background: var(--color-white);
    padding: 20px 0;
    transition: width 0.3s ease;
    position: relative;
    padding-inline: 12px;
    display: flex;
    max-height: 100vh;
    flex-direction: column;
    transition: all 0.3s ease;

    &_collapsed {
        width: 80px;
    }

    &__logo {
        font-weight: 600;
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 14px;

        .title {
            font-weight: 800;
            font-style: ExtraBold;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0px;
            vertical-align: middle;
            transition: all 0.3s ease;
        }
    }

    &__menu {
        margin-top: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 12px;
        cursor: pointer;
        transition: all 0.5s;
        color: var(--color-text-sidebar);

        &.--active {
            background: var(--background-color-sidebar);
            border-radius: 16px;
            color: var(--color-text-sidebar-hover);
        }

        &:hover {
            background: var(--background-color-sidebar);
            border-radius: 16px;
            color: var(--color-text-sidebar-hover);
        }
    }

    &__text {
        white-space: nowrap;
        opacity: 1;
        transition: opacity 0.3s;

        .sidebar_collapsed & {
            opacity: 0;
        }
    }

    &__actions {
        margin-top: auto;
        display: flex;
        flex-direction: column;
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px;
        cursor: pointer;
        color: var(--color-text-sidebar);

        .text {
            display: flex;
            flex-direction: column;

            .name {
                font-weight: 800;
                font-size: 15px;
                line-height: 24px;
                letter-spacing: 0px;
                vertical-align: middle;
            }

            .position {
                font-weight: 500;
                font-size: 13px;
                line-height: 20px;
                letter-spacing: 0px;
                text-align: left;
                color: #2F3144A6;
            }
        }

        .avatar {
            font-weight: 800;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
            vertical-align: middle;

            color: #fff;
            background-color: #2B4EC5;
            border-radius: 50%;
            padding: 12px;
        }
    }

    &__btn {
        svg {
            color: #999999;
        }

        font-weight: 800;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #2F3144;
    }

    &__collapse-btn {
        position: absolute;
        top: 3.2%;
        right: -16px;
        padding: 2px;
        background: #333;
        border: none;
        color: white;
        cursor: pointer;
        transition: transform 0.3s;
        border-radius: 50%;

        .icon__arrow {
            display: block;
            transform: rotate(0deg);
            transition: transform 0.3s;

            .sidebar_collapsed & {
                transform: rotate(180deg);
            }
        }
    }
}